html{
  background-color: rgb(10, 83, 101);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 300px;
  margin: 20px auto;
}
.cell {
  width: 100%;
  height: 100px;
  background-color: navy;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  cursor: pointer;
}
button {
  display: block;
  margin: 20px auto;
  background-color: orange;
  border: 25px;
  border-radius: 10px;
  color: whitesmoke;
  border-color: orange;
  font-size: 20px;
}
button:hover {
  cursor: pointer;
  transform: translateY();
}
.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: navy;
}
h1 {
  font-size: 52px;
  color: orange;
  text-align: center;
}